/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

nav ul a,
nav .brand-logo {
  /*color: #444;*/
  color: #EEEEEE;
}

p {
  line-height: 2rem;
}

.nombrelogo
{
    color: #E7BA95 !important;
    font-family: 'Marck Script';
    font-size: 2.0em !important; 
    line-height: 1.1em;
    text-align: center;
    text-shadow: 0px 0px 0px rgba(245, 245, 245, 0), 1px 1px 4px rgba(1, 22, 39, 0.7), 0px  0px 1px #000000;
    -webkit-text-shadow: 0px 0px 0px rgba(245, 245, 245, 0), 1px 1px 4px rgba(1, 22, 39, 0.7), 0px  0px 1px #000000;
    -moz-text-shadow: 0px 0px 0px rgba(245, 245, 245, 0), 1px 1px 4px rgba(1, 22, 39, 0.7), 0px  0px 1px #000000;
    -o-text-shadow: 0px 0px 0px rgba(245, 245, 245, 0), 1px 1px 4px rgba(1, 22, 39, 0.7), 0px  0px 1px #000000;
}

.fondo_de_madera
{
    background-image: url("/static/img/wood_bg.png");
    /*background-repeat: repeat-x;*/
}

.redondeado{
  border-radius: 5%;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.fpss_bottom
{
  margin-bottom: 0;
}

.piedepagina_copyright
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linux::after
{
    content: url("/static/img/tux_linux.ico");
}

.django::after
{
    content: url("/static/img/django.ico");
}

.awsamazon::after
{
    content: url("https://a0.awsstatic.com/main/images/site/favicon.ico");
}

#owl-demo .item{
  display: block;
  padding: 30px 0px;
  margin: 5px;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
.owl-theme .owl-controls .owl-buttons div {
  padding: 5px 9px;
}
 
.owl-theme .owl-buttons i{
  margin-top: 2px;
}
 
//To move navigation buttons outside use these settings:
 
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
}
 
.owl-theme .owl-controls .owl-buttons .owl-prev{
  left: -45px;
  top: 55px; 
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
  right: -45px;
  top: 55px;
}

