{% extends 'base.html' %}
{% load thumbnail %}
{% comment %}  PLANTILLA PARA MOSTRAR LAS CATEGORIAS DE LOS MUEBLES {% endcomment %}
{% block title %} Comedores {% endblock title %}
{% block Pyr %}
    <div class="row container">
        <article><br>
            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">comment</i>Uno</div>
                    <div class="collapsible-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet quae unde quaerat libero, 
                            quidem officia culpa quasi ducimus neque qui, ipsam, laboriosam deleniti odio fuga molestiae 
                            voluptas alias vel temporibus.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">comment</i>Dos</div>
                    <div class="collapsible-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio sequi 
                            mollitia vero magnam odio perspiciatis quos facilis, quibusdam doloribus, sint eligendi nulla, 
                            amet dolor, eius dolore aperiam sit explicabo natus.
                        </p>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">comment</i>Tres</div>
                    <div class="collapsible-body">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem minus ipsam officiis quasi 
                            accusantium dolores iusto eaque facere perspiciatis fugiat debitis quod at ea, consequuntur saepe dolor, 
                            animi nulla hic!
                        </p>
                    </div>
                </li>
            </ul>
        </article>
    </div><!--.row container-->
    
{% endblock Pyr %}





