{% load static from staticfiles %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
        <meta name="description" content="Muebles y Dise&ntilde;os de Madera del Centro">
        <title>Muebles y Dise&ntilde;os de Madera del Centro</title>
        <!-- ICONS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        <link rel="stylesheet" href={% static "css/owl.carousel.css" %} type="text/css" media="screen,projection"/>
        <link rel="stylesheet" href={% static "css/owl.theme.css" %} type="text/css" media="screen,projection"/>
        <!-- <link rel="stylesheet" href={% static "css/materialize.min.css" %} type="text/css" media="screen,projection"/> -->
        <link rel="stylesheet" href={% static "css/style.css" %} type="text/css" media="screen,projection"/>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400italic,700italic,400,700|Marck+Script&subset=latin-ext,latin' rel='stylesheet' type='text/css'>
        <script src='https://maps.googleapis.com/maps/api/js?key=&sensor=false&extension=.js'></script>


        <!--
            <link rel="icon" href="favicon.ico">
            <link rel="apple-touch-icon" href="{% static "img/apple-touch-icon.png" %}">
            <link rel="apple-touch-icon" sizes="76x76" href="{% static "img/apple-touch-icon-76x76.png" %} ">
            <link rel="apple-touch-icon" sizes="120x120" href="{% static "img/apple-touch-icon-120x120.png" %}">
            <link rel="apple-touch-icon" sizes="152x152" href="{% static "img/apple-touch-icon-152x152.png" %}">
        -->
    </head>
<body>
    <div class="navbar-fixed">
        {% include 'menuvar.html' %}
    </div>
    <main class="fondo_de_madera">
        {% block fpss %}
        {% endblock fpss %}
        {% block CategoryTemplate %}
        {% endblock CategoryTemplate %}
        {% block DetailTemplate %}
        {% endblock DetailTemplate %}
        {% block ContactTemplate %}
        {% endblock ContactTemplate %}
        {% block Pyr %}
        {% endblock Pyr %}
        {% block page_not_found_404 %}
        {% endblock page_not_found_404 %}
        {% block page_not_found_405 %}
        {% endblock page_not_found_405 %}
    </main><!-- main -->
    <!-- <footer class="grey darken-4 page-footer"> -->
    <footer style="background-color: #41555F" class="page-footer">
        {% include 'footer.html' %}
        <!--{"""% block MiniGaleria %"""}
        {"""% endblock MiniGaleria %"""}-->
    </footer>

<!--script-->

    <!-- Compiled and minified JavaScript --><!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <!-- <script type="text/javascript" src={% static "js/jquery.min.js" %}></script> --><!-- jquery-2.1.4.min.js -->
    <!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script> -->
    <!-- <script src="http://maps.googleapis.com/maps/api/js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <!-- <script type="text/javascript" src={% static "js/materialize.min.js" %}></script> -->
    <script type="text/javascript" src={% static "js/init.js "%}></script>
    <script type="text/javascript" src={% static "js/owl.carousel.min.js "%}></script>

<!--script-->
</body>
</html>


