{% extends 'base.html' %}
{% load thumbnail %}
{% comment %}  _aqui_van_los_comentarios_ {% endcomment %}
{% block title %} Muebles y Diseños de Madera{% endblock title %}
{% block fpss %}
    <div class="row fpss_bottom">
        <!--<article>-->
            <!--<div  class="col s12">-->
                <div class="slider">
                    <ul class="slides">
                        {% for picturescat in pictures_fpss %}
                            <li>
                            {% thumbnail picturescat.imagen_categoria "1800x600" as imagendecategoria %}
                                <img src="{{ imagendecategoria.url }}" alt="{{ picturescat.cat_mueble|title }}">
                            {% endthumbnail %}
                                <!-- <img src="imgs/850x400_01_text.png"> -->
                                <div class="{% cycle 'caption center-align' 'caption left-align' 'caption right-align' %}">
                                  <h3>{{ picturescat.cat_mueble|title }}</h3>
                                  <!--<h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5> -->
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div><!-- .slider -->
            </div><!--.col 12 -->
        <!--</article>-->
    <!--</div>--> <!--./row -->
{% endblock fpss %}