        <div class="navbar-fixed">
            <div class="nav-wrapper container">
              <a href="{% url 'home' %}" class="brand-logo">#logo</a>
              <a href="{% url 'home' %}" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'comedores' %}" title="Comedores">COMEDORES</a></li>
                    <li><a href="{% url 'cocinas' %}" title="Cocinas">COCINAS</a></li>
                    <li><a href="{% url 'chifoniers' %}" title="Chifoniers">CHIFONIERS</a></li>
                    <li><a href="{% url 'cunas' %}" title="Cunas">CUNAS</a></li>
                    <li><a href="{% url 'contacto' %}" title="Contacto">CONTACTO</a></li>
                    <li><a href="{% url 'preguntas-y-respuestas' %}" title="Preguntas y Respuestas">PYR</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{% url 'comedores' %}" title="Comedores">COMEDORES</a></li>
                    <li><a href="{% url 'cocinas' %}" title="Cocinas">COCINAS</a></li>
                    <li><a href="{% url 'chifoniers' %}" title="Chifoniers">CHIFONIERS</a></li>
                    <li><a href="{% url 'cunas' %}" title="Cunas">CUNAS</a></li>
                    <li><a href="{% url 'contacto' %}" title="Contacto">CONTACTO</a></li>
                    <li><a href="{% url 'preguntas-y-respuestas' %}" title="Preguntas y Respuestas">PYR</a></li>
                </ul>
            </div>
        </div>