<!--


-->
<nav style="background-color: #C08257">
    <div class="nav-wrapper container">
        <a href="{% url 'home' %}" class="brand-logo nombrelogo" alt="Muebles y Dise&ntilde;os en Madera" title="Muebles y Dise&ntilde;os en Madera">
            Muebles y Dise&ntilde;os <br>en Madera</a>
        <a href="{% url 'home' %}" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{% url 'comedores' %}" title="Comedores">COMEDORES</a></li>
            <li><a href="{% url 'cocinas' %}" title="Cocinas">COCINAS</a></li>
            <li><a href="{% url 'closets' %}" title="Closets">CLOSETS</a></li>
            <li><a href="{% url 'puertas' %}" title="Puertas">PUERTAS</a></li>
            <li><a href="{% url 'banos' %}" title="Ba&ntilde;os">BA&Ntilde;OS</a></li>
            <li><a href="{% url 'contacto' %}" title="Contacto">CONTACTO</a></li>
            <li><a href="{% url 'preguntas-y-respuestas' %}" title="Preguntas y Respuestas">PYR</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="{% url 'comedores' %}" title="Comedores">COMEDORES</a></li>
            <li><a href="{% url 'cocinas' %}" title="Cocinas">COCINAS</a></li>
            <li><a href="{% url 'closets' %}" title="Closets">CLOSETS</a></li>
            <li><a href="{% url 'puertas' %}" title="Puertas">PUERTAS</a></li>
            <li><a href="{% url 'banos' %}" title="Ba&ntilde;os">BA&Ntilde;OS</a></li>
            <li><a href="{% url 'contacto' %}" title="Contacto">CONTACTO</a></li>
            <li><a href="{% url 'preguntas-y-respuestas' %}" title="Preguntas y Respuestas">PYR</a></li>
        </ul>
    </div>
</nav>
