{% extends 'base.html' %}
{% load thumbnail %}
{% comment %}  PLANTILLA PARA MOSTRAR A DETALLE EL MUEBLE {% endcomment %}
{% block title %} Muebles {% endblock title %}
{% block DetailTemplate %}
<div class="row container">
    <article>
        <!-- BREADCUMBS -->
            <h5 class="meta-post"><a>{{ object.categoria }} &frasl;</a> <a>{{ object.modelo }}</a></h5>
        <!-- BREADCUMBS -->
            <h1>{{ object.modelo }}</h1>
            <p class="flow-text">{{ object.descripcion|safe }}</p>
            <p class="flow-text">{{ object.dimensiones|safe }}</p>
            <h4>${{ object.precio|safe }}</h4>
        </article>
    </div>        

    <!-- <figure><img src="/media/{{ object.foto_1 }}" alt="{{ object.modelo }}"></figure> -->

    <div class="row container">
        <article>
            <div class="col s12 m12 l6">
                {% thumbnail object.foto_1 "1600x1200" as foto_uno %}
                    <img class="responsive-img z-depth-4 redondeado materialboxed" data-caption="{{ object.modelo }}" 
                        src="{{ foto_uno.url }}">
                {% endthumbnail %}
            </div>
            <div class="col s12 m12 l6">
                {% thumbnail object.foto_2 "1600x1200" as foto_dos %}
                    <img class="responsive-img z-depth-4 redondeado materialboxed" data-caption="{{ object.modelo }}" 
                        src="{{ foto_dos.url }}">
                {% endthumbnail %}
            </div><div>&nbsp;</div>
            <div class="col s12 m12 l6">
                {% thumbnail object.foto_3 "1600x1200" as foto_tres %}
                    <img class="responsive-img z-depth-4 redondeado materialboxed" data-caption="{{ object.modelo }}" 
                        src="{{ foto_tres.url }}">
                {% endthumbnail %}
            </div>
            <div class="col s12 m12 l6">
                {% thumbnail object.foto_4 "1600x1200" as foto_cuatro %}
                    <img class="responsive-img z-depth-4 redondeado materialboxed" data-caption="{{ object.modelo }}" 
                        src="{{ foto_cuatro.url }}">
                {% endthumbnail %}
            </div><div>&nbsp;</div>
            <div class="col s12 m12 l6">
                {% thumbnail object.foto_5 "1600x1200" as foto_cinco %}
                    <img class="responsive-img z-depth-4 redondeado materialboxed" data-caption="{{ object.modelo }}" 
                        src="{{ foto_cinco.url }}">
                {% endthumbnail %}
            </div>
        </article>
    </div><!-- .row container -->
    <div class="row container">
        <!-- for PARA LISTAR EL NOMBRE DEL MUEBLE Y USARLO COMO LINK Y/O PAGINADOR -->
        {% for comedor in categoria_mueble_comedor %}
            {% if "comedores" in object.get_absolute_url and object.modelo != comedor.modelo %}
                <div class="chip"><i class="fa fa-tag"></i> <a href="{% url 'detailcomedores' comedor.slug %}" title="{{comedor.modelo}}">{{ comedor.modelo }}</a></div>
            {% endif %}
        {% endfor %}
        {% for cocina in categoria_mueble_cocina %}
            {% if "cocinas" in object.get_absolute_url and object.modelo != cocina.modelo %}
                <div class="chip"><i class="fa fa-tag"></i> <a href="{% url 'detailcocinas' cocina.slug %}" title="{{cocina.modelo}}">{{ cocina.modelo }}</a></div>
            {% endif %}
        {% endfor %}
        {% for closet in categoria_mueble_closets %}
            {% if "closets" in object.get_absolute_url and object.modelo != closet.modelo %}
                <div class="chip"><i class="fa fa-tag"></i> <a href="{% url 'detailclosets' closet.slug %}" title="{{closet.modelo}}">{{ closet.modelo }}</a></div>
            {% endif %}
        {% endfor %}
        {% for puerta in categoria_mueble_puertas %}
            {% if "puertas" in object.get_absolute_url and object.modelo != puerta.modelo %}
                <div class="chip"><i class="fa fa-tag"></i> <a href="{% url 'detailpuertas' puerta.slug %}" title="{{puerta.modelo}}">{{ puerta.modelo }}</a></div>
            {% endif %}
        {% endfor %}
        {% for bano in categoria_mueble_banos %}
            {% if "banos" in object.get_absolute_url and object.modelo != bano.modelo %}
                <div class="chip"><i class="fa fa-tag"></i> <a href="{% url 'detailbanos' bano.slug %}" title="{{bano.modelo}}">{{ bano.modelo }}</a></div>
            {% endif %}
        {% endfor %}
    </div><!-- .row container -->
{% endblock DetailTemplate %}